header{
    width: 100%; height: 300px; background-color:#4696e5; 
    display: flex;flex-direction: column;align-items: center;
}
.add{
    display: flex;flex-direction: column; align-items: flex-end; 
    width: 950px;height: 300px; margin-top: 20px;
}
.add> h1 {
    font-size: 40px;color: white; font-family: Arial, Helvetica, sans-serif; 
    margin-bottom: 0px;
}
.add> h4 {
    font-size: 16px;color: white; font-family: Arial, Helvetica, sans-serif; 
}
.add> input {
    width: 800px; height: 40px; margin-bottom: 10px; border-radius: 8px; border: 2px solid #4696e5; 
    padding-left: 10px; font-size: 18px; color:#4696e5; font-family: Arial, Helvetica, sans-serif; 
}
::placeholder { font-size: 16px; color: #8fbcea;}
.add> button {
    width: 80px; height: 40px; margin-top: 5px;; align-self: flex-end ; background-color: transparent;
    border: 2px solid #8fbcea; font-size: 16px;color: white; font-family: Arial, Helvetica, sans-serif; 
    border-radius: 5px; cursor: pointer;
}


.main-up { display: flex;flex-direction: column;align-items: center; margin-top: 40px;}

h2 {
    font-size: 25px;color: #838383; font-family: Arial, Helvetica, sans-serif; 
    margin-bottom: 0px;
}
.ligne{ width: 80px;
    border: solid 1px #ddd2d2; margin-top: 50px;}

.tasks{
width: 100%;height: 600px; margin-top: 50px;
}
.edit-task {
    display: block;
    margin-top: 25px; margin-bottom :25px; ; width: 100%; position: relative;
}
.complete {
    width: 80px; height: 40px; background-color: transparent; border:2px solid #b4b3b4 ;
    margin-right: 10px; margin-left: 50px; font-size: 14px;color: #838383;
     font-family: Arial, Helvetica, sans-serif; cursor: pointer;
}
.delete {
    width: 60px; height: 40px; background-color: transparent; border:2px solid #b4b3b4 ;
    margin-right: 10px;  font-size: 14px;color: #838383;
     font-family: Arial, Helvetica, sans-serif; cursor: pointer;
}
#task-name {
   width: 600px; height: 40px; font-size: 25px;color: #838383; font-family: Arial, Helvetica, sans-serif; 
   margin-left: 30px;
}
#undo {
    width: 60px; height: 40px; background-color: transparent; border:2px solid #b4b3b4 ;
      font-size: 14px;color: #838383;font-family: Arial, Helvetica, sans-serif;
       cursor: pointer; position: absolute; left: 60px; display: none;
}
.items{
    margin-top: 20px;
}